<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>トップページ</title>
</head>
<body>
	<main>
		<div class="maincol">

			<div class="buttons">
				<div>
					<button th:onclick="|location.href='@{'/login'}'|">
						<strong>ログイン</strong>
					</button>
				</div>
				<div>
					<button
						th:onclick="|location.href='@{'/registration/select-user-type'}'|">
						<strong>登録</strong>
					</button>
				</div>
			</div>

		</div>
	</main>
</body>
</html>